<div class="footer">
  <div class="footer-content">
    <div class="footer-section contact">
      <h2>Anishkumar Rasik Dhamelia</h2>
      <p>Email: <a href="mailto:adhameli@stevens.edu">adhameli@stevens.edu</a></p>
      <p>CWID: 20009488</p>
    </div>
    <div class="footer-section contact">
      <h2>Vivaswanth Kashyap Madhusudhana</h2>
      <p>Email: <a href="mailto:vmadhusu1@stevens.edu">vmadhusu1@stevens.edu</a></p>
      <p>CWID: 20022231</p>
    </div>    
    <div class="footer-section contact">
      <h2>Nirmohi Samirbhai Patel</h2>
      <p>Email: <a href="mailto:npatel24@stevens.edu">npatel24@stevens.edu</a></p>
      <p>CWID: 20009631</p>
    </div>
    <div class="footer-section contact">
      <h2>Dhruvin Popatbhai Vaghasiya</h2>
      <p>Email: <a href="mailto:dvaghasi@stevens.edu">dvaghasi@stevens.edu</a></p>
      <p>CWID: 20018155</p>
    </div>    
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Stevens Institute of Technology | All rights reserved.</p>
  </div>
</div>