<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2>About Us</h2>
      <p>This website is build by four friends as our final project for the class CS-546-A, at Stevens Institute of Technology</p>
    </div>
    <div class="footer-section contact">
      <h2>Contact Us</h2>
      <p>Email: adhameli@stevens.edu</p>
      <p>Phone: +1 (347) 888-2708</p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 Stevens Institute of Technology | All rights reserved.</p>
  </div>
</div>