<header>
  <nav class="navbar">
    <a href="/">
      <img src="/images/logo.png" alt="Logo" class="logo">
    </a> 
    <div class="nav-links text-slate-700">
      <a href="/communities" class="hover:text-sky-700">Communities</a>
      <a href="/questions" class="hover:text-sky-700">Questions</a>
    </div>
    <button class="login-btn">Login</button>
  </nav>
</header>