<header class="bg-gray-800 text-gray-100">
  <nav class="flex items-center justify-between p-4">
    <a href="/">
      <img src="/images/logo.png" alt="Logo" class="h-12">
    </a>
    <div class="flex space-x-8">
      <a href="/communities" class="hover:text-blue-400">Communities</a>
      <a href="/questions" class="hover:text-blue-400">Questions</a>
    </div>
  </nav>
</header>
