<header>
  <nav class="navbar">
    <a href="/">
      <img src="/images/logo.png" alt="Logo" class="logo">
    </a>
    <div class="search mr-40">
      <span class="material-symbols-outlined pb-2 mr-2">search</span>
      <textarea class="mr-60" name="search" id="search" cols="75" rows="1"></textarea>
    </div>
  </nav>
</header>