<header class="bg-gray-800 text-gray-100">
  <nav class="navbar flex items-center justify-between p-4">
    <a href="/" class="flex items-center">
      <img src="/images/logo.png" alt="Logo" class="logo h-12 mr-3">
      <span class="text-xl font-semibold">Stevens Overflow</span>
    </a>

     <div class="search flex-grow mx-4 max-w-xl flex items-center bg-gray-700 rounded px-3 py-2">
      <span class="material-symbols-outlined text-gray-300">search</span>
      <input type="text" name="search" id="search" class="flex-grow ml-2 p-1 bg-transparent text-gray-300 focus:outline-none" placeholder="Enter keywords relevant to your search" aria-label="Search">
    </div>


    <div class="flex items-center space-x-4">
      {{#if user}}
        <a href="/userActivity" class="hover:text-blue-400">{{user.stevensEmail}}</a>
        <a href="/communities" class="hover:text-blue-400">Communities</a>
        <button class="logout-btn bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Logout
        </button>
      {{else}}
        <a href="/communities" class="hover:text-blue-400">Communities</a>
        <button class="login-btn bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Login
        </button>
      {{/if}}
    </div>
  </nav>
</header>
