{{!-- <form action="/communities/search" method="POST">

 
  <label>Search:</label>
  <input name="searchTerm" >
  <br>

  <button>Search</button>

</form> --}}
{{>search}}
<nav>
  <a href="/communities/create" class="createCommunityButton">Create Community</a>
</nav>
<div class="communitiesWrapper flex flex-wrap justify-around">
  {{#each communities}}
    <div class="communitySquare border-solid border-2 rounded-lg p-4 m-4">
      <a href="/communities/{{_id}}" class="communityTitle">{{title}}</a>
      <p class="communityDescription">{{description}}</p>
    </div>
  {{/each}}
</div>

