
<div class="w-screen h-screen border-4 border-black items-center justify-items-center flex place-content-center">
    <img class="w-3/5 h-3/5 place-self-center" src="/images/error-image.gif" alt="error">
    {{#if error.length}}
        <p>{{error}}</p>
    {{/if}}
</div>
