{{>header}}
<div class="w-screen h-screen border-4 border-black items-center justify-items-center flex place-content-center">
    <h1 class="my-2 text-lg">{{error}}</h1><br>
    <img class="w-3/5 h-3/5 place-self-center" src="/images/error-image.gif" alt="error">
</div>
