
{{>header}}
<div class="h-full border-4 border-black flex flex-col  items-center">
    <img class="w-3/5 h-3/5 self-center" src="/images/error-image.gif" alt="error">
    <h1 class="my-2 text-lg">{{error}}</h1>
</div>
{{>footer}}