{{>header}}
<div class="background-container min-h-screen">
  <div class="overlay">
    <div class="text">
      <p>STEVENS OVERFLOW</p>
      <p class="text-xl animated-text">Stevens Query Hub: Where Curiosity Meets Answers</p>
    </div>
  </div>
</div>
{{>footer}}
