<div class="joinFormWrapper">
    <form action="/communities/join?id={{id}}" method="POST" class="joinForm">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email">
      <br>
      <button type="submit">Join</button>
    </form>
  </div>