.background-container {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url('../images/stevens-background.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.text {
  color: white;
  font-size: 4em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
}

@media only screen and (max-width: 768px) {
  .text {
      font-size: 2em;
  }
}

.text-animation {
  display: inline-block;
  white-space: nowrap;
  animation: slideText 10s linear infinite;
}

@keyframes slideText {
  0%,100%{
      transform: translateX(0%);
  }
  25%{
    transform: translateX(30%);
  }
  100% {
      transform: translateX(-30%);
  }
}
