
body
{
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
min-height: 100vh;
display: flex;
flex-direction: column;
}
/* .navbar 
{
display: flex;
align-items: center;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
} */

.logo 
{
color: white;
font-size: 24px;
font-weight: bold;
max-height: 10vh;
}

.nav-links a 
{
text-decoration: none;
margin: 0 15px;
transition: color 0.3s ease-in-out;
}


.login-btn 
{
background-color: #2ecc71; 
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

.login-btn:hover 
{
background-color: #27ae60; 
}

.logout-btn 
{
background-color: #cc2e2e; 
color: white;
border: none;
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease-in-out;
}

.logout-btn:hover 
{
background-color: #ae2727; 
}

.footer 
{
background-color: #000000; 
color: white;
padding: 40px 0;
}

.footer-content 
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.footer-section 
{
padding: 0 10px;
}

.footer-section h2 
{
font-size: 1.2em;
margin-bottom: 15px;
}

.footer-section p 
{
font-size: 0.9em;
}

.footer-section a 
{
text-decoration: none;
color: #ecf0f1;
transition: color 0.3s ease-in-out;
}

.footer-section a:hover 
{
color: #3498db; 
}

.footer-bottom 
{
margin-top: 20px;
text-align: center;
}