.setting-icon
{
color: white;
max-height: 7vh;
}
.background-container {
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url('../images/stevens-background.jpg');
    background-size: cover;
    background-position: center;
  }

.overlay {
background-color: rgba(0, 0, 0, 0.3);
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.bigtext 
{
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    margin-bottom: 20px;
}

.settingButton {
    width: 100%;
    background-color: #03cb09;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.settingButton:hover {
    background-color: #45a049;
}

p {
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
}

.errorDiv {
    border: 5px solid #ff0000;
    width: 99.5%;
  }

  .textDiv {
    border: 5px solid #000000;
    width: 99.5%;
  }

  .communitySquare { 
    min-width: 100vh; 
    background-color: #3498db;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .communityTitle {
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
  }

  .communityDescription {
    margin-top: 10px;
    text-align: center;
  }